<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">输入无效原因</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <textarea class="form-control" id="reason" #reason rows="3"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close(reason.value)"
    >
      确认
    </button>
  </div>
</ng-template>
<div class="container text-center">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>姓名</th>
          <th>昵称</th>
          <th>训练时间</th>
          <th>备注</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let traineeAttendance of traineesAttendance">
          <td>{{ traineeAttendance.traineeName }}</td>
          <td>{{ traineeAttendance.traineeNickName }}</td>
          <td>
            {{
              traineeAttendance.createDt
                | date : "yyyy-MM-dd HH:mm:ss" : "GMT+8"
            }}
          </td>
          <td>{{traineeAttendance.reason}}</td>
          <td>
            <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button
                  type="button"
                  [ngClass]="{
                    'btn': true,
                    'btn-success': traineeAttendance.isReviewed === 1,
                    'btn-secondary': traineeAttendance.isReviewed != 1
                  }"
                  (click)="active(traineeAttendance.id)"
                >
                  有效
                </button>
                <button type="button" [ngClass]="{
                    'btn': true,
                    'btn-danger': traineeAttendance.isReviewed === 0,
                    'btn-secondary': traineeAttendance.isReviewed != 0
                  }" (click)="open(content, traineeAttendance.id)">无效</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
